@font-face {
   font-family: "Raleway-Regular";
   font-weight: 400;
   font-style: normal;
   src: local("Raleway-Regular"), url(../fonts/Raleway-Regular.woff2) format("woff2"),
      url(../fonts/Raleway-Regular.woff) format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Raleway-Italic";
   font-weight: 400;
   font-style: normal;
   src: local("Raleway-Italic"), url(../fonts/Raleway-Italic.woff2) format("woff2"),
      url(../fonts/Raleway-Italic.woff) format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Raleway-Medium";
   font-weight: 400;
   font-style: normal;
   src: local("Raleway-Medium"), url(../fonts/Raleway-Medium.woff2) format("woff2"),
      url(../fonts/Raleway-Medium.woff) format("woff");
   font-display: swap;
}

@font-face {
   font-family: "Raleway-Bold";
   font-weight: 400;
   font-style: normal;
   src: local("Raleway-Bold"), url(../fonts/Raleway-Bold.woff2) format("woff2"),
      url(../fonts/Raleway-Bold.woff) format("woff");
   font-display: swap;
}