$default:#29282d;
$title: #15181d;
$bg:#ececec;

%ral-400 {
   font-family: "Raleway-Regular", sans-serif;
   font-weight: 400;
}

%ral-500 {
   font-family: "Raleway-Medium", sans-serif;
   font-weight: 500;
}

%ral-700 {
   font-family: "Raleway-Bold", sans-serif;
   font-weight: 700;
}

%ral-italic {
   font-family: "Raleway-Italic", sans-serif;
   font-weight: 400;
   font-style: italic;
}