@import "vars";
@import "fonts";
@import "reset";
@import "global";
@import "libs";
@import "animation";

.header {
   background-color: $bg;

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
   }
}

.menu {
   line-height: 30px;

   &-btn {
      display: none;
   }

   margin-left: auto;
   margin-right: 20px;

   &__list {
      display: flex;
      align-items: center;
   }

   &__item {
      margin: 0 15px;
   }

   &__item-link {
      @extend %ral-400;
      color: $default;
      transition: all .3s;
   }

   &__item-link:hover {
      color: #8c8c8c;
   }
}

.social {
   &__item {
      margin: 0 10px;

      path {
         transition: all .4s;
         fill: #6d6d6d;
      }
   }

   &__item:hover {
      path {
         fill: #8c8c8c;
      }
   }
}

.top {
   height: calc(100vh - 70px);
   display: flex;
   align-items: center;
   justify-content: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(../images/top-bg.jpg);
   background-attachment: fixed;
   z-index: -20;
}

.about__title,
.skills__title,
.slider__title,
.portfolio__title,
.contact__title {
   padding-bottom: 20px;
   position: relative;
   margin: 0 auto 60px;

}

.about__title:after,
.skills__title:after,
.slider__title:after,
.portfolio__title::after,
.contact__title::after {
   position: absolute;
   content: '';
   width: 100%;
   height: 1px;
   background-color: #fff;
   bottom: 0;
   left: 0;
}

.about {
   background-color: #171719;
   padding: 40px 0;

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__text {
      font-size: 25px;
      color: $bg;
      max-width: 720px;
      text-align: center;
      line-height: 1.4em;
      margin-right: 20px;
      margin-right: 0;
   }
}

.skills {
   background-color: $bg;
   position: relative;

   &__text {
      position: absolute;
      font-size: 15px;
      color: $bg;
      top: -20px;
      left: 70px;
   }

   &__svg {
      position: absolute;
      left: 240px;

   }

   &__title {
      padding-top: 20px;
      color: $default;
   }

   &__title:after {
      background-color: $default;
   }

   &__inner {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

   }

   &__item {
      width: 230px;
      margin: 20px 15px;
   }

   &__item-title {
      text-align: center;
      margin-bottom: 20px;
      font-size: 26px;
   }

   &__item-skill {
      font-size: 18px;
      margin-bottom: 10px;
      padding-left: 20px;
      position: relative;
      max-width: 230px;

   }

   &__item-skill::before {
      content: '';
      position: absolute;
      left: 0;
      width: 10px;
      height: 5px;
      top: 10px;
      background-image: url(../images/arrow-down.svg);
   }
}

.slider {
   padding: 40px 0;
   background-color: $bg;

   &__title:after {
      background-color: $default;
   }
}

.slider {
   position: relative;

   &__inner {
      display: flex;
      align-items: center;
   }

   &__item {
      width: 300px !important;
      text-align: center;

      img {
         display: inline-block;
         height: 50px;
      }
   }


   &__item-subtitle {
      font-size: 18px;
      @extend %ral-italic;
      margin: 20px 0;
   }

}

.slick-prev,
.slick-next {
   background-color: transparent;
   position: absolute;
   top: -85px;
   right: 125px;
}

.slick-prev {
   right: 160px;
}

.portfolio {
   background-image: url('../images/portfolio-bg.png');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: centet;
   background-attachment: fixed;
   padding: 40px 0;

   &__inner {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }

   &__item {
      margin: 10px 0px;
      max-width: 800px;
      width: 100%;
      min-height: 400px;
      position: relative;
      transition: all .3s;

      &:hover {
         // transform: scale(1.2);
         z-index: 3;

         .portfolio__item-content {
            opacity: 1;
         }
      }
   }

   &__item-title {
      font-size: 24px;
      margin-bottom: 10px;
   }

   &__item-content {
      opacity: 0;
      transition: all .4s;
      position: absolute;
      background-color: $bg;
      text-align: center;
      padding: 20px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 70%;
      width: 100%;
   }

   &__link {
      display: block;
      background-color: $default;
      max-width: 100px;
      margin: 0 auto;
      border-radius: 10px;
      padding: 5px 20px;
      color: $bg;
      margin-top: 20px;
   }

   &__item-catering {
      background: url(../images/portfolio/catering.png) center no-repeat;
      background-size: contain;
   }

   &__item-shopapple {
      background: url(../images/portfolio/shopapple.png) center no-repeat;
      background-size: contain;
   }

   &__item-salon {
      background: url(../images/portfolio/salon.png) center no-repeat;
      background-size: contain;
   }
}

.contact {
   padding: 40px 0;

   &__title {
      color: $default;
   }

   &__title:after {
      background-color: $default;
   }
}

.footer .menu {
   &__item {
      margin: 0 8px;
   }
}

.footer-copy {
   padding: 40px 0;
   display: flex;
   justify-content: space-between;

   &__item {
      display: flex;
      align-items: center;
      line-height: 30px;
   }

}

.slick-initialized .slick-slide {
   display: flex;
   justify-content: center;
}

@import "media";